In [35]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')
import re
from nltk.corpus import stopwords
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [36]:
zomato_real=pd.read_csv("Dataset/zomato.csv")
zomato_real.head() # prints the first 5 rows of the dataset

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [37]:
zomato=zomato_real.drop(['url','phone'],axis=1) #Dropping the column "dish_liked", "phone", "url" and saving the new dataset as "zomato"

In [38]:
zomato.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [39]:
zomato.duplicated().sum()
zomato.drop_duplicates(inplace=True)

In [40]:
zomato_real.count()

url                            51717
address                        51717
name                           51717
online_order                   51717
book_table                     51717
rate                           43942
votes                          51717
phone                          50509
location                       51696
rest_type                      51490
dish_liked                     23639
cuisines                       51672
approx_cost(for two people)    51371
reviews_list                   51717
menu_item                      51717
listed_in(type)                51717
listed_in(city)                51717
dtype: int64

In [41]:
zomato.count()

address                        51674
name                           51674
online_order                   51674
book_table                     51674
rate                           43907
votes                          51674
location                       51653
rest_type                      51447
dish_liked                     23627
cuisines                       51629
approx_cost(for two people)    51329
reviews_list                   51674
menu_item                      51674
listed_in(type)                51674
listed_in(city)                51674
dtype: int64

In [42]:
zomato.isnull().sum()

address                            0
name                               0
online_order                       0
book_table                         0
rate                            7767
votes                              0
location                          21
rest_type                        227
dish_liked                     28047
cuisines                          45
approx_cost(for two people)      345
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [43]:
zomato.dropna(how='any',inplace=True)

In [44]:
zomato.isnull().sum()

address                        0
name                           0
online_order                   0
book_table                     0
rate                           0
votes                          0
location                       0
rest_type                      0
dish_liked                     0
cuisines                       0
approx_cost(for two people)    0
reviews_list                   0
menu_item                      0
listed_in(type)                0
listed_in(city)                0
dtype: int64

In [45]:
zomato = zomato.rename(columns={'approx_cost(for two people)':'cost','listed_in(type)':'type', 'listed_in(city)':'city'})

In [46]:
zomato.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,cost,reviews_list,menu_item,type,city
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [47]:
#Some Transformations
zomato['cost'] = zomato['cost'].astype(str) #Changing the cost to string

In [48]:
zomato_real['approx_cost(for two people)']

0          800
1          800
2          800
3          300
4          600
         ...
51712    1,500
51713      600
51714    2,000
51715    2,500
51716    1,500
Name: approx_cost(for two people), Length: 51717, dtype: object

In [49]:
zomato['cost'] = zomato['cost'].apply(lambda x: x.replace(',','.')) #Using lambda function to replace ',' from cost

In [50]:
zomato['cost'] = zomato['cost'].astype(float)

In [51]:
zomato = zomato.loc[zomato.rate !='NEW']
zomato = zomato.loc[zomato.rate !='-'].reset_index(drop=True)

In [52]:
def remove_slash(x):
    if isinstance(x, str):
        return x.replace('/5', '')
    else:
        return x

In [53]:

zomato['rate'] = zomato['rate'].apply(remove_slash).str.strip().astype(float)

In [54]:
zomato['rate']

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
23243    3.8
23244    3.9
23245    2.8
23246    2.5
23247    4.3
Name: rate, Length: 23248, dtype: float64

In [55]:
# Adjust the column names
zomato.name = zomato.name.apply(lambda x:x.title())
zomato.online_order.replace(('Yes','No'),(True, False),inplace=True)
zomato.book_table.replace(('Yes','No'),(True, False),inplace=True)

In [56]:
## Computing Mean Rating
restaurants = list(zomato['name'].unique())
zomato['Mean Rating'] = 0

for i in range(len(restaurants)):
    zomato['Mean Rating'][zomato['name'] == restaurants[i]] = zomato['rate'][zomato['name'] == restaurants[i]].mean()
    
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range = (1,5))
zomato[['Mean Rating']] = scaler.fit_transform(zomato[['Mean Rating']]).round(2)

In [57]:
## Lower Casing
zomato["reviews_list"] = zomato["reviews_list"].str.lower()

In [58]:
## Removal of Puctuations
import string
PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(text):
    """custom function to remove the punctuation"""
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

zomato["reviews_list"] = zomato["reviews_list"].apply(lambda text: remove_punctuation(text))

In [59]:
## Removal of Stopwords

import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    """custom function to remove the stopwords"""
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

zomato["reviews_list"] = zomato["reviews_list"].apply(lambda text: remove_stopwords(text))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\akuma\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [60]:
zomato['rate']

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
23243    3.8
23244    3.9
23245    2.8
23246    2.5
23247    4.3
Name: rate, Length: 23248, dtype: float64

In [61]:
zomato['Mean Rating']

0        3.99
1        3.97
2        3.58
3        3.45
4        3.58
         ...
23243    3.58
23244    3.71
23245    2.61
23246    1.61
23247    4.23
Name: Mean Rating, Length: 23248, dtype: float64

In [62]:
## Removal of URLS
def remove_urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

zomato["reviews_list"] = zomato["reviews_list"].apply(lambda text: remove_urls(text))

In [63]:
zomato[['reviews_list', 'cuisines']].sample(5)

,reviews_list,cuisines
5584,rated 40 ratedn honestly understand maintain o...,"Cafe, American, Burger, Steak"
6280,rated 50 ratedn ordered fish tikka real good f...,"North Indian, Chinese"
3559,rated 30 ratedn restaurant placed opposite she...,North Indian
18133,rated 40 ratedn nice rooftop bar great views p...,"Finger Food, Continental"
989,rated 50 ratedn dear biryanis moreni cannot ex...,"Biryani, North Indian, Chinese, Andhra, South ..."

In [64]:
# RESTAURANT NAMES:
restaurant_names = list(zomato['name'].unique())
def get_top_words(column, top_nu_of_words, nu_of_word):
    vec = CountVectorizer(ngram_range= nu_of_word, stop_words='english')
    bag_of_words = vec.fit_transform(column)
    sum_words = bag_of_words.sum(axis=0)
    words_freq = [(word, sum_words[0, idx]) for word, idx in vec.vocabulary_.items()]
    words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
    return words_freq[:top_nu_of_words]

In [65]:
# Randomly sample 60% of your dataframe
df_percent = zomato.sample(frac=0.5)

In [66]:
df_percent.columns

Index(['address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'location', 'rest_type', 'dish_liked', 'cuisines', 'cost',
       'reviews_list', 'menu_item', 'type', 'city', 'Mean Rating'],
      dtype='object')

In [67]:
df_percent.set_index('name', inplace=True)
indices = pd.Series(df_percent.index)

In [68]:
# Creating tf-idf matrix
tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=0.0, stop_words='english')

In [69]:
tfidf_matrix = tfidf.fit_transform(df_percent['reviews_list'])
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

In [70]:
zomato.columns

Index(['address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'location', 'rest_type', 'dish_liked', 'cuisines', 'cost',
       'reviews_list', 'menu_item', 'type', 'city', 'Mean Rating'],
      dtype='object')

In [71]:
zomato_real.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [72]:
df_percent['reviews_list'].isnull().sum()

0

In [73]:
# def recommend(name, cosine_similarities=cosine_similarities):
#     try:
#         idx = indices[indices == name].index[0]
#     except IndexError:
#         print(f'Restaurant "{name}" not found.')
#         return None

#     score_series = pd.Series(cosine_similarities[idx]).sort_values(ascending=False)
#     top30_indexes = list(score_series.iloc[0:31].index)

#     recommend_restaurant = [list(df_percent.index)[each] for each in top30_indexes]

#     # Creating the new data set to show similar restaurants
#     df_new_list = []

#     for each in recommend_restaurant:
#         df_new_list.append(df_percent.loc[df_percent.index == each, ['address', 'cuisines', 'Mean Rating', 'online_order', 'cost']].sample())

#     # Concatenate the list of DataFrames into a single DataFrame
#     df_new = pd.concat(df_new_list)

#     # Drop duplicates and sort by Mean Rating
#     df_new = df_new.drop_duplicates(subset=['address', 'cuisines', 'Mean Rating', 'online_order', 'cost'], keep=False)
#     df_new = df_new.sort_values(by='Mean Rating', ascending=False).head(1000)

#     print(f'TOP {len(df_new)} RESTAURANTS LIKE {name} WITH SIMILAR REVIEWS: ')
    
#     return df_new

In [74]:
# def recommend(name, cosine_similarities=cosine_similarities):
#     try:
#         idx = indices[indices == name].index[0]
#     except IndexError:
#         print(f'Restaurant "{name}" not found.')
#         return None

#     score_series = pd.Series(cosine_similarities[idx]).sort_values(ascending=False)
#     top30_indexes = list(score_series.iloc[0:31].index)

#     recommend_restaurant = [list(df_percent.index)[each] for each in top30_indexes]

#     # Creating the new data set to show similar restaurants
#     df_new_list = []

#     for each in recommend_restaurant:
#         df_new_list.append(df_percent.loc[df_percent.index == each,  ['address', 'cuisines', 'Mean Rating', 'online_order', 'cost']].sample())

#     # Concatenate the list of DataFrames into a single DataFrame
#     df_new = pd.concat(df_new_list)

#     # Drop duplicates and sort by Mean Rating
#     df_new = df_new.drop_duplicates(subset=['address', 'cuisines', 'Mean Rating', 'online_order', 'cost'], keep=False)
#     df_new = df_new.sort_values(by='Mean Rating', ascending=False).head(1000)
    


#     print(f'TOP {len(df_new)} RESTAURANTS LIKE {name} WITH SIMILAR REVIEWS: ')
    
#     return df_new

In [75]:
def recommend(name, cosine_similarities=cosine_similarities):
    try:
        idx_candidates = indices[indices == name].index

        if not idx_candidates.empty:
            idx = idx_candidates[0]
        else:
            print(f'Restaurant "{name}" not found.')
            return None

        score_series = pd.Series(cosine_similarities[idx]).sort_values(ascending=False)
        top30_indexes = list(score_series.iloc[0:31].index)

        recommend_restaurant = [list(df_percent.index)[each] for each in top30_indexes]

        # Creating the new data set to show similar restaurants
        df_new_list = []

        for each in recommend_restaurant:
            df_temp = df_percent.loc[df_percent.index == each, ['address', 'cuisines', 'Mean Rating', 'online_order', 'cost']].sample()

            # Add a new column 'name' with the value of the original index
            df_temp['name'] = each
            
            df_new_list.append(df_temp)

        # Concatenate the list of DataFrames into a single DataFrame
        df_new = pd.concat(df_new_list, ignore_index=True)

        # Reorder columns to have 'name' as the first column
        df_new = df_new[['name', 'address', 'cuisines', 'Mean Rating', 'online_order', 'cost']]

        # Drop duplicates and sort by Mean Rating
        df_new = df_new.drop_duplicates(subset=['name', 'address', 'cuisines', 'Mean Rating', 'online_order', 'cost'])
        df_new = df_new.sort_values(by='Mean Rating', ascending=False).head(1000)

        print(f'TOP {len(df_new)} RESTAURANTS LIKE {name} WITH SIMILAR REVIEWS: ')

        return df_new
    except Exception as e:
        print(f'An error occurred: {str(e)}')
        return None

# Assuming df_percent is your DataFrame and indices is the indices Series
# Make sure to replace these with your actual DataFrame and indices

In [76]:
recommend('Spice Elephant')

TOP 18 RESTAURANTS LIKE Spice Elephant WITH SIMILAR REVIEWS:

,name,address,cuisines,Mean Rating,online_order,cost
23,Tbc Sky Lounge,"Astra Hotel, 2795, 27th Main, Sector 1, HSR, B...","Continental, Asian, Italian, North Indian",4.74,False,1.0
30,Communiti,"67 & 68, Brigade Solitaire, Opposite to Advait...","Continental, BBQ, Salad",4.67,False,1.5
27,Brooks And Bonds Brewery,"4, 100 Feet Road, Koramangala 5th Block, Banga...","Continental, Mediterranean, North Indian, Chin...",4.45,True,1.6
14,Crawl Street,"77/A, 4th Floor Floor, Jyoti Nivas College Roa...","Continental, Finger Food, North Indian, Chinese",4.22,True,1.2
18,Hoot,"2034/69, Block 2, Kaikondrahalli, Varthur Hobl...","Continental, Italian, North Indian",4.10,True,1.4
0,Spice Elephant,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...","Chinese, North Indian, Thai",3.97,True,800.0
2,Atithi,"219/2, 1st Floor, 9th Main, 15th A Cross, 6th ...","North Indian, Chinese, Street Food",3.71,True,800.0
5,Cinnamon,"78, Ground Floor, Right Wing, 11th Main, 14th ...","North Indian, Chinese, Biryani",3.71,True,550.0
25,Pallavi Restaurant,"BMTC Bus Depot, 1st Floor, Hosur Main Road, El...","Biryani, Chinese, Andhra",3.58,True,500.0
16,Nouvelle Garden,"The Ambient Turret, 35/A, 1st Main Road, 3rd P...","North Indian, Continental, Italian",3.45,False,900.0
26,Cafe @ Elanza,"The Elanza Hotel, 88/2 Richmond Road, Richmond...","Chinese, North Indian, Cafe",3.45,False,1.0
21,The Diner,"107/4, Pattanduru Agrahara Road, Near ITPL Gat...","North Indian, Chinese, Andhra, Biryani",3.32,True,700.0
6,Marwa Restaurant,"21, Ground Floor, B.H.C.S.L Layout, Stage 2, B...","North Indian, Chinese, Fast Food, BBQ",3.19,True,600.0
11,Melange - Hotel Ekaa,"Hotel Ekaa, 52, Kudlu Gate, Hosur Main Road, N...","North Indian, Chinese, Continental, Mangalorean",2.81,True,900.0
10,Flavours - Octave Hotel & Spa,"Octave Hotel & Spa, 14, Kailkondanahalli Villa...","North Indian, Chinese",2.55,False,700.0
24,Paprica,"95/3, Kote M.R Plaza, Outer Ring Road, Maratha...","North Indian, Chinese",2.03,True,1.2
20,Paprica,"95/3, Kote M.R Plaza, Outer Ring Road, Maratha...","North Indian, Chinese",2.03,False,1.2
22,Dal Tadkaa,"1, Kathriguppe Main Road, 3rd Stage, Banashank...",North Indian,1.90,True,500.0

In [77]:
rs_cuisines=list(zomato['name'])
rs_cuisines

['Jalsa',
 'Spice Elephant',
 'San Churro Cafe',
 'Addhuri Udupi Bhojana',
 'Grand Village',
 'Timepass Dinner',
 'Onesta',
 'Penthouse Cafe',
 'Smacznego',
 'Cafã\x83Â\x83Ã\x82Â\x83Ã\x83Â\x82Ã\x82Â\x83Ã\x83Â\x83Ã\x82Â\x82Ã\x83Â\x82Ã\x82Â© Down The Alley',
 'Cafe Shuffle',
 'The Coffee Shack',
 'Caf-Eleven',
 'San Churro Cafe',
 'Cafe Vivacity',
 'Catch-Up-Ino',
 "Kirthi'S Biryani",
 'T3H Cafe',
 'The Vintage Cafe',
 'Woodee Pizza',
 'My Tea House',
 "Srinathji'S Cafe",
 'Redberrys',
 'Foodiction',
 'Ovenstory Pizza',
 'Faasos',
 'Behrouz Biryani',
 'Szechuan Dragon',
 'Empire Restaurant',
 'Chaatimes',
 "Mcdonald'S",
 "Domino'S Pizza",
 'Onesta',
 'Hotboxit',
 'Kitchen Garden',
 'Recipe',
 'Beijing Bites',
 'Tasty Bytes',
 'Corner House Ice Cream',
 'Biryanis And More',
 'Roving Feast',
 'Freshmenu',
 'Wamama',
 'Peppy Peppers',
 'Goa 0 Km',
 '1947',
 'Kabab Magic',
 'Gustoes Beer House',
 'The Biryani Cafe',
 'Rolls On Wheels',
 'Sri Guru Kottureshwara Davangere Benne Dosa',
 'Upahar Sagar',
 'Frozen Bottle',
 'Meghana Foods',
 'Nandhini Deluxe',
 "Vi Ra'S Bar And Restaurant",
 'Chatar Patar',
 'Polar Bear',
 "Kidambi'S Kitchen",
 'Mane Thindi',
 'Floured-Baked With Love',
 'Bengaluru Coffee House',
 'Anna Kuteera',
 'Darbar',
 'Sri Udupi Food Hub',
 'House Of Kebabs',
 'Roll N Rock',
 'Box8- Desi Meals',
 'Kfc',
 'Roll Over',
 'Imperial Restaurant',
 'Wahab',
 'Canton',
 'The Blue Wagon - Kitchen',
 'Patio 805',
 'Lassi Corner',
 'Sagar Deluxe',
 'Energy Addaa',
 'Tandoori Knight',
 'Dev Sagar - Food Street',
 'Mitraa Da Pizza',
 'Grazers',
 'Shakes Theory',
 '@Italy',
 'Old Mumbai Ice Cream',
 'Donne Biriyani House',
 "Kedia'S Fun Food",
 'Just Shawarma',
 'Mini Punjabi Dhaba',
 'Cafã\x83Â\x83Ã\x82Â\x83Ã\x83Â\x82Ã\x82Â\x83Ã\x83Â\x83Ã\x82Â\x82Ã\x83Â\x82Ã\x82Â© Down The Alley',
 'Gokul Veg',
 'Olive - Era',
 'Gama Gama',
 'The Vintage Cafe',
 'Pizza Hut',
 'Mangalore Pearl',
 'Twiststick House',
 'Cool Corner',
 'Pizza Mane',
 'Dal Tadkaa',
 'Chutney Chang',
 'Mystique Palate',
 'Thamboola',
 'Castle Rock',
 'Vietnamese Kitchen',
 'Smacznego',
 'Toscano',
 'Stoned Monkey',
 'Central Jail Restaurant',
 'Bella',
 'New Prashanth Hotel',
 'Karma Kaapi',
 "Tiwari'S",
 'Pizza Stop',
 "Biggies Burger 'N' More",
 "Srinathji'S Cafe",
 "Kollapuri'S",
 'Rs Shiv Sagar',
 'Harshi Super Sandwich',
 'Ugadi',
 'Subway',
 'The Lassi Park',
 'A2B - Adyar Ananda Bhavan',
 'Srikrishna Bhavan',
 'Timepass Dinner',
 'Green Gardenia',
 'J Spice',
 'Hatti Kaapi',
 'Upahara Darshini',
 'The Chaat Shop',
 'My Tea House',
 'Samskruti - Sanman Gardenia',
 'Chumma Delicious',
 'New Prashanth Hotel',
 'Dwaraka Grand',
 'Gufha - The President Hotel',
 'Cafe Vivacity',
 'Mojo Pizza - 2X Toppings',
 'South Kitchen',
 'Chung Wah',
 'Prems Graama Bhojanam',
 'Java City',
 'Kamat Bugle Rock',
 'Woodee Pizza',
 'Puliyogare Point',
 'Bangalore Agarwal Bhavan',
 'Rustic Stove',
 'De Thaali',
 'Spice Elephant',
 'Matru Sagar',
 'Sea Spice By 7 Star',
 'Desi Dawat',
 'Cafe Aira',
 'Penthouse Cafe',
 'Mast Punjabi',
 'South Grand',
 'Catch-Up-Ino',
 'The Pizzeria',
 'Ruchis Point',
 'Firangi Bake',
 'The Royal Corner - Pai Viceroy',
 'Hara Fine Dine',
 'Chocoberry',
 'Waffle-A-Go Go',
 'Cross Road Cafe',
 'Bakers Town',
 'Ivy',
 'The Airos',
 'Chai Kraft',
 "Kirthi'S Biryani",
 'The Trundle',
 'The Krishna Grand Xpress',
 'Udupi Grand',
 'Little Cafe',
 '1980S Games Cafe',
 'Kadala Tarangaa',
 'As On Fire',
 'Curry Leaves',
 'Magic Meals',
 'Desi Cream Junction',
 'Eat Repeat',
 'Salut',
 "Sandwich Mama'S And Frozen Monster",
 'Food Springs',
 "Chung'S Chinese Corner",
 'Eurasia Pasta And Barbeque By Little Italy',
 'Goli Vada Pav No. 1',
 "Ragoo'S",
 'Pure & Natural',
 'Maiyas',
 'Sip N Dine',
 'Cafe Mondo',
 'Jalpaan',
 "Kataria'S Pakwan",
 'Juicy Momos',
 'Amande Patisserie',
 'Anand Sweets And Savouries',
 'Chicken Hunt',
 'Swadesh Tadka',
 'Cane-O-La',
 'New Biryani Mane',
 'Upahara Darshini',
 'Karnataka Bhel House',
 'Sreeraj Lassi Bar',
 "Bunt'S Biriyani Palace",
 'Chai Point',
 'Janahaar',
 'Redberrys',
 'Utsav',
 'The Spice Saga',
 'Jalsa',
 'Subz',
 'Cafe Shuffle',
 'Mint And Mustard',
 'Punjabi Raswada',
 "Vinny'S",
 "Kapoor'S Cafe",
 'Sukh Sagar',
 'Andhra Ruchulu',
 'Steaming Mugs',
 'San Churro Cafe',
 'Rajathadri Food Fort',
 'Brew Meister',
 'Rasoi',
 'Mr. Singh Da Dhaba',
 'Ayodhya Upachar',
 'Biriyani Mane',
 'Cafe Ajfan',
 'Brundhavana Food Point',
 'Slv Corner Restaurant',
 'The Krishna Grand',
 'Roti Ghar',
 'The Coffee Shack',
 'Baisakhi',
 'Corner House Ice Cream',
 'Poonam Sweets',
 'Old Mumbai Ice Cream',
 'Polar Bear',
 'San Churro Cafe',
 "Kirthi'S Biryani",
 'Stoned Monkey',
 'Floured-Baked With Love',
 'Waffle-A-Go Go',
 'Sri Venkateshwara Sweet Meat Stall',
 'Redberrys',
 'Amande Patisserie',
 'A2B Veg - Adyar Ananda Bhavan',
 'The Krishna Grand',
 'Sea Spice By 7 Star',
 'Mini Punjabi Dhaba',
 'Onesta',
 'Wamama',
 'Jalsa',
 "Vinny'S",
 'Jcubez',
 'Gustoes Beer House',
 'Penthouse Cafe',
 'Spice Elephant',
 'Smacznego',
 'Cafã\x83Â\x83Ã\x82Â\x83Ã\x83Â\x82Ã\x82Â\x83Ã\x83Â\x83Ã\x82Â\x82Ã\x83Â\x82Ã\x82Â© Down The Alley',
 'Cafe Shuffle',
 'The Coffee Shack',
 'Peppy Peppers',
 'Anna Kuteera',
 'Szechuan Dragon',
 '1947',
 'Caf-Eleven',
 'Thamboola',
 'San Churro Cafe',
 'Cafe Vivacity',
 'Chung Wah',
 'Vietnamese Kitchen',
 'Catch-Up-Ino',
 "Kirthi'S Biryani",
 'T3H Cafe',
 'Srikrishna Bhavan',
 'Dal Tadkaa',
 'The Vintage Cafe',
 'Green Gardenia',
 'Kadala Tarangaa',
 "Vi Ra'S Bar And Restaurant",
 'Nandhini Deluxe',
 'J Spice',
 'Swadesh Tadka',
 "Iyer'S Tiffin Centre",
 'Darbar',
 'Beijing Bites',
 'The Pizzeria',
 'As On Fire',
 'Pizza Hut',
 'New Prashanth Hotel',
 'Taaza Thindi',
 'Ayodhya Upachar',
 'Roving Feast',
 'Kfc',
 'Gama Gama',
 "Mcdonald'S",
 'Sri Laxmi Venkateshwara Coffee Bar',
 'Messy Bowl',
 'Janahaar',
 'Chumma Delicious',
 'Bengaluru Coffee House',
 'Foodiction',
 'The Biryani Cafe',
 'Addhuri Udupi Bhojana',
 'Subway',
 'Hotel Mangala',
 'Slv Swadishta',
 'Upahar Sagar',
 "Domino'S Pizza",
 'New Sagar Fast Food',
 'Chicken Hunt',
 'Pizza Stop',
 'Faasos',
 'Rasoi',
 'Slv Refreshment',
 'Chatar Patar',
 "Kidambi'S Kitchen",
 'Tandoori Knight',
 'Utsav',
 'Mane Thindi',
 'Juicy Momos',
 'Donne Biriyani House',
 'Matru Sagar',
 'Kavali',
 "Bunt'S Biriyani Palace",
 'Ranganna Military Hotel',
 'Roti Ghar',
 'Grand Village',
 'Vidyarthi Bhavan',
 'Bharjari Oota',
 'Gokul Veg',
 'Slv Corner Restaurant',
 'Timepass Dinner',
 'Baisakhi',
 'Eat Repeat',
 'Sri Guru Kottureshwara Davangere Benne Dosa',
 "Srinathji'S Cafe",
 'Soho Bar & Grill',
 "Kollapuri'S",
 'Bhavani Restaurant',
 'Puliyogare Point',
 'Zephyr',
 'Redberrys',
 'Hotel Dwarka',
 'Ma-Arya Family Restaurant',
 'A2B - Adyar Ananda Bhavan',
 "Ragoo'S",
 'Imperial Restaurant',
 'Udupi Sri Krishna Bhavan',
 'Curry Leaves',
 'Goli Vada Pav No. 1',
 'Ice Thunder',
 'South Kitchen',
 'Upahara Darshini',
 'Mahalaxmi Tiffin Room',
 'Sandwichwallas',
 'Udupi Grand',
 'Castle Rock',
 'Kamat Bugle Rock',
 'Basavanagudi Mylari',
 'Rs Shiv Sagar',
 'Pramukh Family Restaurant',
 'Chaatimes',
 'Vybhava',
 'Shree Venkateshwara North Karnataka Hotel',
 'Harshi Super Sandwich',
 'Belly Squad Food Truck',
 'Jcubez',
 'Gustoes Beer House',
 "Vi Ra'S Bar And Restaurant",
 'Darbar',
 'Soho Bar & Grill',
 'Deja Vu Resto Bar',
 'Fattoush',
 'Empire Restaurant',
 'Abhiruchi Hotel',
 'Barbeque Nation',
 'Sattvam',
 '24Th Main',
 'Zaitoon',
 'Oye Amritsar',
 'Melt - Eden Park',
 'Spice Code',
 'The Onyx - The Hhi Select Bengaluru',
 'Sankranthi Veg Restaurant',
 'Cafe Kabana',
 'Butterly',
 'Black Mug Cafe',
 '#Refuel',
 'Wafl',
 'Vaho Kafe & Pressery',
 'Dreamcatcher',
 'Cafe Arabica',
 'Kalmane Koffees',
 'Brews N Bites',
 'Slate Cafe',
 'Dialogues',
 'Mudpipe Cafe',
 'Tab - Take A Break',
 "Biggies Burger 'N' More",
 'Onesta',
 'Cafe Potpourri',
 'Vinaya Coffee Moments',
 'Cuppa',
 'Skytouch Le Cafe',
 'Woodee Pizza',
 'Eat.Fit',
 'Sai Abhiruchi',
 'Capsicum Family Restaurant',
 'Easy Bites',
 'Hiyar Majhe Kolkata',
 'Sri Lakshmi Dhaba',
 'Xo Belgian Waffle',
 'Swadista Aahar',
 'Al-Bek',
 "Aniram'S",
 'Punjabi Nawabi',
 'Swad Punjab Da',
 'Box8- Desi Meals',
 'Roti Wala',
 'Midnight Mania',
 'Kitchens@Jp Nagar',
 'Krishna Kuteera',
 'Apna Punjab',
 'Paratha Junction',
 'Nellore Bhojanam',
 'Momoz',
 'Kalingas',
 'Kanteen The Eatery',
 'Kullad Cafe',
 'Donne Biriyani House',
 'Litti Twist',
 'Freshmenu',
 'Shanthi Sagar',
 'Cakebuy',
 'Five Star Chicken',
 'Corner House Ice Cream',
 'Fattoush',
 'Behrouz Biryani',
 'Abhiruchi Hotel',
 'Hind Ka Chulah',
 'Bohra Bohra Cafã\x83Â\x83Ã\x82Â\x83Ã\x83Â\x82Ã\x82Â\x83Ã\x83Â\x83Ã\x82Â\x82Ã\x83Â\x82Ã\x82Â©',
 'Pizza Hut',
 'Subway',
 'Biryani Durbar',
 'Mahesh Friends Food Center',
 'Kabab Magic',
 'Burger King',
 "Dadi'S Dum Biryani",
 'Alankrutha',
 'Paradise',
 'Andhra Ruchulu',
 'Adithya',
 'Cheesiano Pizza',
 'Kfc',
 "Dande'S Hyderabad Biryani",
 'Onesta',
 'Upahara Bhavan',
 'Shuddh Desi Khana',
 'Sankranthi Veg Restaurant',
 'Aramane Donne Biriyani',
 'Cafe Potpourri',
 "Mani'S Dum Biryani",
 'Amontron',
 'Birinz',
 'Just Shawarma',
 'Hyderabadi Bawarchi',
 'Fish Chain',
 'Prasiddhi Food Corner',
 'Hyderabad Biryaani House',
 "Galito'S",
 'Rajdhani Thali Restaurant',
 'Phew (Play Hard Eat Wild)',
 'Chicken County Grand',
 'Roll Over',
 'Savoury - Sea Shell Restaurant',
 'Firangi Bake',
 'Zaitoon',
 'Kundana',
 'The Shawarma Shop',
 'Faasos',
 'Punjabi Food Corner',
 'Mealer.In',
 'Pathaan Sir',
 'Cold Stone Creamery',
 'Amritsari Kulcha Land',
 'Chokha Chowka',
 'Gorbandh',
 'Grills & Rolls',
 'Bathinda Junction',
 'Stories',
 'Kanti Sweets',
 'Seasons',
 'Chung Wah',
 'Marwa Restaurant',
 'Shanghai Court',
 'Bhojohori Manna',
 'Hunger Bee',
 'Yum In My Tum',
 'Biryani Miya',
 'Chulha Chauki Da Dhaba',
 'Dreamcatcher',
 "Magix'S Parattha Roll",
 'Elegant Dining',
 'Waffle Head',
 'Basmati Delights',
 'Samosa Singh',
 'Cravings',
 'Matka',
 'Punjabi Swag',
 'Taco Bell',
 "Mother'S Rasoi",
 'Dosa Bazaar',
 'The Bong Palate',
 'Upahara Darshini',
 'Bikaner Jn',
 'Crunch Pizzas',
 'Kakal-Kai Ruchi',
 'Calorie Express',
 'Bangalore Box',
 'Ovenstory Pizza',
 'Slate Cafe',
 'Chavadi',
 'Nanna Munna Paratha House',
 'Cucumber Town',
 'Oye Amritsar',
 'Brewsky',
 'Chefeana',
 'Bangaliana',
 'Gud Dhani',
 "Mcdonald'S",
 'Wafl',
 'Deejas Kitchen',
 'Pancuzzi',
 "Zhang'S - Chinese Restaurant",
 'Shagun Sweets & Foods',
 "Dev'S Gugababa",
 'Oogway Express',
 "Domino'S Pizza",
 'Pizza Stop',
 'The Egg Factory',
 'Chow San',
 'Momo Jojo',
 'Simply Indian',
 "Rithika'S Kitchen",
 'Punjabi Times',
 'Chai Point',
 'Cravy Wings',
 'Funky Punjab',
 'Punjabi Corner',
 '#Refuel',
 "Biggies Burger 'N' More",
 'Zeeshan',
 'Ambara Gardenia',
 'More Pizza',
 'Butterly',
 'Crafted Plate',
 "Shetty'S Kitchen",
 'Machali Port',
 'Garma Garam',
 'The Coastal Crew By Fujian On 24Th',
 'Bib - Breakfast In The Box',
 'Tandoor And Spice',
 'Rock Stone Ice Cream Factory',
 'Paratha Plaza',
 'Namma Kudla',
 'Wangs Kitchen',
 'Spice Up',
 'Tempteys',
 'Crumb Together',
 'The Foodyz',
 'Black Mug Cafe',
 'Meat And Eat',
 'Vinaya Coffee Moments',
 'Nagarjuna',
 'Laddoos',
 'New Prashanth Hotel',
 'Waffle Stories',
 'Late Night',
 'Waffle Walle',
 'Dakshin Cafe',
 'Shake It Off',
 'Two Friends Cauldron',
 'Bun Town',
 'Pot Biryani',
 'Mango Tree- The Beer Garden',
 'The Jade Kitchen',
 'Drunken Monkey',
 'Woodee Pizza',
 'Funky Punjab',
 'Intalia',
 'Hotel Aradhana',
 'The Chervil',
 'New Royal Treat',
 'I Cool',
 'Asha Sweets Centre',
 'Stoned Monkey',
 'Vinaya Cafe',
 'World Of Waffles',
 'Oottupura Family Restaurant',
 'Vyanjan',
 "Watson'S",
 'Chicken Man',
 'Nandhana Palace',
 'On The Nose',
 'Udupi Thaja Thindi',
 'Baba Ka Dhaba',
 'Natural Ice Cream',
 'Biriyani Mane',
 "Churchill'S",
 'The Chocolate Room',
 'Aramane Restaurant',
 'Bawarchi Inn',
 "Ruh'S Cafe",
 'Mojo Pizza - 2X Toppings',
 'California Burrito',
 'Tandoor Garden',
 'Caffe Pascucci',
 'Chaitanya Cafe',
 'Anand Sweets And Savouries',
 'Berrylicious',
 'Pappu Da Dhaba',
 'Smoke - The Sizzler House',
 'Chung Wah Opus',
 'Dream A Dozen',
 'Bread Crumbs Bakery',
 'Nite Out',
 'Willys Top Cafe',
 "Woody'S",
 'The Curry Hut Plus',
 'Brews N Bites',
 'Skytouch Le Cafe',
 'Mudpipe Cafe',
 'Vaho Kafe & Pressery',
 'Zhangs Classic',
 'Guru Greens',
 'D View Cafe',
 'Flavour Of China',
 'Kabab Treat',
 'Cafe Arabica',
 'Casa Piccosa',
 'Bake Addiction',
 'Tongue Twisters',
 'Vaathsalya Millet Cafe',
 'Guru Garden',
 'Brewz Coffee',
 'Athithi',
 'Melt - Eden Park',
 'Sri Bhagya Grand',
 'Flavorsome Bakes',
 'Mast Kalandar',
 'Shiv Sagar',
 'Coastal Inn',
 'Bangalir Rannaghar',
 "Lalchee'S Rasoi",
 'Kailash Parbat',
 'Tandoor Hut',
 'Zaika Take Away',
 'Malhar Maharashtrian Cuisine',
 'Mandi',
 'Pallavi North Indian Veg Restaurant',
 'Idly Pidly',
 "Vasudev Adiga'S",
 'Tgi Fridays',
 'Apsara Ice Cream',
 "Targaryen'S Kitchen",
 'Desi Vibes',
 'Kulfi & More',
 'Dal Roti',
 'Deja Vu Resto Bar',
 'Status',
 'Bottle Breacher',
 'Sattvam',
 'Kesariya',
 'Swad Restaurant',
 'Checkpost',
 'Nandhini Paradise',
 'New Kabab Plaza',
 'Coastal Mama',
 'Waah Biryani',
 'Rara Avis',
 'Baskin Robbins',
 'Royal Chef Naati Oota',
 'Flow - Terrace Bar & Grill',
 'Sree Krishna Kafe',
 'Dilish Kitchens',
 'Daily Bread',
 "Owl'S Kitchen",
 'Deccan Spice',
 'Desi Wok',
 'Namana Garden',
 'Andhra Grills',
 'Petoo',
 'Night Panda',
 'Kamat Swaad',
 'Ishta Cafe',
 'Cafe Mist',
 'Fat Chef Biryani Wale',
 'Natural Ice Cream',
 "Amma'S Pastries",
 'Anand Sweets And Savouries',
 'Bread Crumbs Bakery',
 'Butterly',
 'Cakebuy',
 'Polar Bear',
 'World On A Swirl',
 'Waffle Walle',
 'Wafl',
 'Cold Stone Creamery',
 'Flavorsome Bakes',
 'Cafe Arabica',
 'Sweet Truth',
 'Apsara Ice Cream',
 'Two Friends Cauldron',
 'Slate Cafe',
 'Dream A Dozen',
 'Roll Over',
 'Stoned Monkey',
 'Tab - Take A Break',
 'Cream Stone',
 'Berrylicious',
 'Daily Bread',
 "Calvin'S",
 'Eat.Fit',
 'Hyderabad Biryaani House',
 'Seasons',
 'Simply Indian',
 "Dande'S Hyderabad Biryani",
 'Chung Wah',
 'Shanghai Court',
 'Chicken County Grand',
 'Punjabi Times',
 'Elegant Dining',
 'Cafe Kabana',
 "Dadi'S Dum Biryani",
 'Veruthe Oru Thattukada',
 'Butterly',
 'Kundana',
 'Black Mug Cafe',
 '#Refuel',
 'Savoury - Sea Shell Restaurant',
 'Vaho Kafe & Pressery',
 'Kabab Treat',
 'Dreamcatcher',
 'Guru Greens',
 'A2B - Adyar Ananda Bhavan',
 'Malhar Maharashtrian Cuisine',
 'Hyderabadi Bawarchi',
 'Beijing Bites',
 'Sri Bhagya Grand',
 'Cafe Arabica',
 'Kabab Magic',
 'Drunken Monkey',
 'Marwa Restaurant',
 'Chow San',
 'Guru Garden',
 'Guru Paradise',
 'Status',
 'Athithi',
 'Zhangs Classic',
 'Coastal Inn',
 "Lalchee'S Rasoi",
 'Aramane Restaurant',
 'Tandoor Hut',
 'Zaika Take Away',
 'The Curry Hut Plus',
 'Chai Point',
 'Upahara Bhavan',
 'Wangs Kitchen',
 "Vasudev Adiga'S",
 'Ambara Gardenia',
 'Krishna Kuteera',
 'California Burrito',
 "Mcdonald'S",
 'Kanteen The Eatery',
 'Punjabi Nawabi',
 'Taco Bell',
 'Purani Dilli By Anand Sweets',
 "Shetty'S Kitchen",
 "Domino'S Pizza",
 'Polar Bear',
 'Cravings',
 'Burger King',
 'Kfc',
 'Ingu Tengu',
 'World On A Swirl',
 'Green Onion',
 'Punjabi Corner',
 'Cravy Wings',
 'Garma Garam',
 'Oottupura Family Restaurant',
 'Pot Biryani',
 'Subway',
 'Shuddh Desi Khana',
 'Hunger Bee',
 'Just Shawarma',
 'Faasos',
 "Tiwari'S",
 'Idly Pidly',
 'Pizza Hut',
 'Bangaliana',
 'Ishta Cafe',
 'Brews N Bites',
 "Mother'S Rasoi",
 'Smoke - The Sizzler House',
 'New Royal Treat',
 'Panchami Garden',
 'Shiv Sagar',
 'Bangalir Rannaghar',
 'Hotel Aradhana',
 'Chefeana',
 'Hind Ka Chulah',
 'Paratha Junction',
 'Intalia',
 'Nellore Bhojanam',
 'Hakuna Matata',
 'Barbeque Nation',
 'Sattvam',
 'Brewsky',
 'Three Dots & A Dash',
 'Hunger Camp',
 'Kesariya',
 '24Th Main',
 '55 Wall Street',
 'Zaitoon',
 'Checkpost',
 'Crumb Together',
 "Mani'S Dum Biryani",
 'The Coastal Crew By Fujian On 24Th',
 'Two Friends Cauldron',
 'Bottle Breacher',
 'Tandoor And Spice',
 "Watson'S",
 'The Chervil',
 'Casa Piccosa',
 'Mango Tree- The Beer Garden',
 'Caffe Pascucci',
 'Nandhini Paradise',
 'Oye Amritsar',
 'Machali Port',
 'Melt - Eden Park',
 'Vaathsalya Millet Cafe',
 'Oogway Express',
 "Zhang'S - Chinese Restaurant",
 'The Egg Factory',
 'Coastal Mama',
 'Parkview',
 'Kakal-Kai Ruchi',
 'Waah Biryani',
 'Danapani',
 'Inchara',
 'Kabab Mehal',
 'Adithya',
 'Mudpipe Cafe',
 'Pallavi North Indian Veg Restaurant',
 'Tab - Take A Break',
 'Chatori Gali',
 'Onesta',
 'Royal Chef Naati Oota',
 'White Horse',
 'Spice Code',
 'Coconut Grove',
 'Cafe Potpourri',
 'Flow - Terrace Bar & Grill',
 'Funky Punjab',
 'Vinaya Coffee Moments',
 'The Onyx - The Hhi Select Bengaluru',
 'Spice Up',
 'Zeeshan',
 'Cuppa',
 'Mast Kalandar',
 'New Prashanth Hotel',
 'Deccan Spice',
 'Andhra Grills',
 'Petoo',
 'Chung Wah Opus',
 'Skytouch Le Cafe',
 'Grills & Rolls',
 'Chaitanya Cafe',
 'Sree Krishna Kafe',
 'Pizza Stop',
 'Donne Biriyani House',
 "Calvin'S",
 'Five Star Chicken',
 'Bangalore Box',
 'Gud Dhani',
 'Bathinda Junction',
 'New Kabab Plaza',
 'Hiyar Majhe Kolkata',
 'Sankranthi Veg Restaurant',
 'Swad Restaurant',
 'Litti Twist',
 'Kalingas',
 'Gorbandh',
 'Nanna Munna Paratha House',
 'Dilish Kitchens',
 'Baba Ka Dhaba',
 'Desi Wok',
 'Namana Garden',
 'Mahesh Friends Food Center',
 'Amontron',
 'Sri Lakshmi Dhaba',
 'Deja Vu Resto Bar',
 'Chavadi',
 'Tgi Fridays',
 'Simply Indian',
 'Hakuna Matata',
 'Brewsky',
 '55 Wall Street',
 'Crumb Together',
 'Bottle Breacher',
 "Watson'S",
 'Casa Piccosa',
 'Coconut Grove',
 'Bangalore Box',
 'Subz',
 'Grand Village',
 'Timepass Dinner',
 '1947',
 'Chutney Chang',
 'Empire Restaurant',
 'Jalsa',
 'San Churro Cafe',
 'Tree Top',
 'Samskruti - Sanman Gardenia',
 'The Sofraah Kebabs & Kurries - Eden Park Restaurants',
 'The Yellow Chilli',
 'Tea Villa Cafe',
 'Cafe Cosy',
 'Onesta',
 'Steaming Mugs',
 "Srinathji'S Cafe",
 'Redberrys',
 'Cafe Aira',
 'Cafe Mondo',
 '1980S Games Cafe',
 'Go Native',
 'Alchemy Coffee Roasters',
 'Rooftop Cafe',
 'Enerjuvate Studio & Cafe',
 'The Caramelts Cafe',
 'Slimsins Cafe',
 'Cafe Ajfan',
 'Cafe Shuffle',
 'Krazzy Folds',
 'Penthouse Cafe',
 'The Blue Wagon - Kitchen',
 'Smacznego',
 'The Airos',
 'Starbucks',
 'San Churro Cafe',
 'Cafe Vivacity',
 "Kirthi'S Biryani",
 'La Grande Cafe',
 '4Th Tea Block',
 'Grazers',
 'Cuppa',
 'Brews N Bites',
 'Java City',
 'People Tree Cafe',
 'Eat.Fit',
 'Freshmenu',
 'Leon Grill',
 'Dr. Bubbles',
 'Empire Restaurant',
 'Anna Kuteera',
 'Energy Addaa',
 'Dev Sagar - Food Street',
 'Kfc',
 'Bengaluru Coffee House',
 'Shanmukha',
 'Bhukkhad Baba',
 'House Of Kebabs',
 'Subway',
 'Mysuru Coffee Thindi',
 'Smoke-A-Pot',
 'Chaatimes',
 'Wamama',
 'Shanthi Sagar',
 'Just Shawarma',
 'Smacznego',
 'Kabab Magic',
 'Lassi Corner',
 'The Biriyani Pedia',
 'Paratha Junction',
 'Sl Vadapav',
 'Adithya',
 'Paradise',
 'Biryanis And More',
 "Wazir'S",
 'Krispy Kreme',
 'Roti Ghar',
 'Onesta',
 'Keventers',
 'Polar Bear',
 'Behrouz Biryani',
 'Puliyogare Point',
 "Kedia'S Fun Food",
 'Sri Udupi Food Hub',
 ...]

In [78]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors

# Assuming df_percent is your DataFrame
# Creating tf-idf matrix
tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=0.0, stop_words='english')
tfidf_matrix = tfidf.fit_transform(df_percent['reviews_list'])

# Applying k-NN algorithm
knn_model = NearestNeighbors(n_neighbors=10, metric='cosine')
knn_model.fit(tfidf_matrix)

def recommend_knn(name, knn_model=knn_model, tfidf_matrix=tfidf_matrix, df=df_percent):
    try:
        idx_candidates = indices[indices == name].index

        if not idx_candidates.empty:
            idx = idx_candidates[0]
        else:
            print(f'Restaurant "{name}" not found.')
            return None

        # Find the TF-IDF vector for the specified restaurant
        restaurant_tfidf = tfidf_matrix[idx]

        # Use k-NN to find the nearest neighbors
        _, top_indexes = knn_model.kneighbors(restaurant_tfidf, n_neighbors=10)

        recommend_restaurant = [list(df.index)[each] for each in top_indexes.flatten()]

        # Creating the new data set to show similar restaurants
        df_new_list = []

        for each in recommend_restaurant:
            df_temp = df.loc[df.index == each, ['address', 'cuisines', 'Mean Rating', 'online_order', 'cost']].sample()

            # Add a new column 'name' with the value of the original index
            df_temp['name'] = each
            
            df_new_list.append(df_temp)

        # Concatenate the list of DataFrames into a single DataFrame
        df_new = pd.concat(df_new_list, ignore_index=True)

        # Reorder columns to have 'name' as the first column
        df_new = df_new[['name', 'address', 'cuisines', 'Mean Rating', 'online_order', 'cost']]

        # Drop duplicates and sort by Mean Rating
        df_new = df_new.drop_duplicates(subset=['name', 'address', 'cuisines', 'Mean Rating','online_order', 'cost'])
        df_new = df_new.sort_values(by='Mean Rating', ascending=False).head(1000)

        print(f'TOP {len(df_new)} RESTAURANTS LIKE {name} WITH SIMILAR REVIEWS: ')

        return df_new
    except Exception as e:
        print(f'An error occurred: {str(e)}')
        return None

In [ ]:
recommend_knn('San Churro Cafe')

TOP 2 RESTAURANTS LIKE San Churro Cafe WITH SIMILAR REVIEWS:

In [ ]:
recommend('San Churro Cafe')

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import NearestNeighbors

# Assuming df_percent is your DataFrame
# Creating tf-idf matrix
tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=0.0, stop_words='english')
tfidf_matrix = tfidf.fit_transform(df_percent['reviews_list'])

# Applying k-NN algorithm with Euclidean distance
knn_model = NearestNeighbors(n_neighbors=10, metric='euclidean')
knn_model.fit(tfidf_matrix)

def recommend_knn_euclidean(name, knn_model=knn_model, tfidf_matrix=tfidf_matrix, df=df_percent):
    try:
        idx_candidates = indices[indices == name].index

        if not idx_candidates.empty:
            idx = idx_candidates[0]
        else:
            print(f'Restaurant "{name}" not found.')
            return None

        # Find the TF-IDF vector for the specified restaurant
        restaurant_tfidf = tfidf_matrix[idx]

        # Use k-NN to find the nearest neighbors with Euclidean distance
        _, top_indexes = knn_model.kneighbors(restaurant_tfidf, n_neighbors=10)

        recommend_restaurant = [list(df.index)[each] for each in top_indexes.flatten()]

        # Creating the new data set to show similar restaurants
        df_new_list = []

        for each in recommend_restaurant:
            df_temp = df.loc[df.index == each, ['address', 'cuisines', 'Mean Rating', 'online_order', 'cost']].sample()

            # Add a new column 'name' with the value of the original index
            df_temp['name'] = each
            
            df_new_list.append(df_temp)

        # Concatenate the list of DataFrames into a single DataFrame
        df_new = pd.concat(df_new_list, ignore_index=True)

        # Reorder columns to have 'name' as the first column
        df_new = df_new[['name', 'address', 'cuisines', 'Mean Rating', 'online_order', 'cost']]

        # Drop duplicates and sort by Mean Rating
        df_new = df_new.drop_duplicates(subset=['name', 'address', 'cuisines', 'Mean Rating', 'online_order', 'cost'])
        df_new = df_new.sort_values(by='Mean Rating', ascending=False).head(1000)

        print(f'TOP {len(df_new)} RESTAURANTS LIKE {name} WITH SIMILAR REVIEWS: ')

        return df_new
    except Exception as e:
        print(f'An error occurred: {str(e)}')
        return None

In [ ]:
zomato.columns

In [ ]:
import pandas as pd
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
# Load your dataset
df = pd.read_csv("Dataset/zomato.csv")

# Extract features (X) and target variable (y)
X = zomato[['name','online_order', 'book_table', 'location', 'rest_type', 'cuisines', 'cost']]
y = zomato['rate']
label_encoder = LabelEncoder()
for column in ['name','online_order', 'book_table', 'location', 'rest_type', 'cost','cuisines']:
    X[column] = label_encoder.fit_transform(X[column])

# Handle missing values or NaNs (you may need a more sophisticated approach)
X = X.fillna(0)

# Replace RandomForestRegressor with an appropriate model for your task
model = RandomForestRegressor()
rfe = RFE(model, n_features_to_select=3)  # Choose the desired number of features
fit = rfe.fit(X, y)

# Print the ranking and support of each feature
print("Num Features: %s" % (fit.n_features_))
print("Selected Features: %s" % (fit.support_))
print("Feature Ranking: %s" % (fit.ranking_))

# Get the names of the selected features
selected_features = X.columns[fit.support_]
print("Selected Features: %s" % (selected_features))

In [ ]:
import pandas as pd

# Assuming you have already loaded your dataset into df
# df = pd.read_csv("your_dataset.csv")

# Replace 'your_target_column' with the actual name of your target variable column
target_column = 'rate'

# Extract relevant columns for analysis
relevant_columns = ['name', 'online_order', 'book_table', 'location', 'rest_type', 'cuisines', 'cost', target_column]
df_subset = zomato[relevant_columns]
# Convert categorical columns to numerical using Label Encoding
label_encoder = LabelEncoder()
for column in ['name', 'online_order', 'book_table', 'location', 'rest_type','cuisines']:
    df_subset[column] = label_encoder.fit_transform(df_subset[column])

# Calculate the correlation matrix
correlation_matrix = df_subset.corr()
print(correlation_matrix)
# Get the column names with the highest correlation to the target variable
highly_correlated_features = correlation_matrix[target_column].abs().sort_values(ascending=False).index

# Print the names of highly correlated features
print(f"Highly Correlated Features with '{target_column}':")
print(highly_correlated_features)

In [ ]:
def recommendrfe(name, cosine_similarities=cosine_similarities):
    try:
        idx_candidates = indices[indices == name].index

        if not idx_candidates.empty:
            idx = idx_candidates[0]
        else:
            print(f'Restaurant "{name}" not found.')
            return None

        score_series = pd.Series(cosine_similarities[idx]).sort_values(ascending=False)
        top30_indexes = list(score_series.iloc[0:31].index)

        recommend_restaurant = [list(df_percent.index)[each] for each in top30_indexes]

        # Creating the new data set to show similar restaurants
        df_new_list = []

        for each in recommend_restaurant:
            df_temp = df_percent.loc[df_percent.index == each, [ 'cuisines', 'cost','Mean Rating']].sample()

            # Add a new column 'name' with the value of the original index
            df_temp['name'] = each
            
            df_new_list.append(df_temp)

        # Concatenate the list of DataFrames into a single DataFrame
        df_new = pd.concat(df_new_list, ignore_index=True)

        # Reorder columns to have 'name' as the first column
        df_new = df_new[['name', 'cuisines', 'cost','Mean Rating']]

        # Drop duplicates and sort by Mean Rating
        df_new = df_new.drop_duplicates(subset=['name','cuisines', 'cost'])
        df_new = df_new.sort_values(by='Mean Rating', ascending=False).head(1000)

        print(f'TOP {len(df_new)} RESTAURANTS LIKE {name} WITH SIMILAR REVIEWS: ')

        return df_new
    except Exception as e:
        print(f'An error occurred: {str(e)}')
        return None

# Assuming df_percent is your DataFrame and indices is the indices Series
# Make sure to replace these with your actual DataFrame and indices

In [ ]:
recommendrfe('San Churro Cafe')

In [ ]:
recommend('San Churro Cafe')

In [ ]:
import matplotlib.pyplot as plt

# Sample data
models = ['All Features', 'RFE Features', 'Correlation Features']
recall_values_U1061 = [0.6, 0.7, 0.85]  # Replace with your actual recall values
recall_values_U1106 = [0.5, 0.65, 0.8]
recall_values_U1003 = [0.7, 0.75, 0.9]

# Plotting
plt.figure(figsize=(10, 6))
plt.plot(models, recall_values_U1061, marker='o', label='U1061')
plt.plot(models, recall_values_U1106, marker='o', label='U1106')
plt.plot(models, recall_values_U1003, marker='o', label='U1003')

# Adding labels and title
plt.xlabel('Models')
plt.ylabel('Recall at N')
plt.title('Recall at N for Different Models and Users')
plt.legend()
plt.grid(True)

# Display the plot
plt.show()

In [ ]:
import numpy as np
from sklearn.metrics import mean_squared_error
from math import sqrt

# Replace 'actual_ratings' with your actual ratings from the dataset
actual_ratings = np.array([4.5, 3.8, 2.5, 4.0, 1.7, 3.0])  # Replace with actual ratings

# Replace 'predicted_ratings_cosine' and 'predicted_ratings_corr' with your actual predicted ratings
predicted_ratings_cosine = np.array([4.2, 3.9, 2.3, 3.8, 1.5, 2.9])  # Replace with actual predicted ratings for cosine similarity
predicted_ratings_corr = np.array([4.1, 3.7, 2.4, 3.9, 1.6, 3.1])  # Replace with actual predicted ratings for correlation features

# Calculate RMSE for cosine similarity
rmse_cosine = sqrt(mean_squared_error(actual_ratings, predicted_ratings_cosine))
print("RMSE (Cosine Similarity):", rmse_cosine)

# Calculate RMSE for correlation features
rmse_corr = sqrt(mean_squared_error(actual_ratings, predicted_ratings_corr))
print("RMSE (Correlation Features):", rmse_corr)
import numpy as np
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from sklearn.metrics.pairwise import euclidean_distances

# Replace 'actual_ratings' with your actual ratings from the dataset
actual_ratings = np.array([4.5, 3.8, 2.5, 4.0, 1.7, 3.0])  # Replace with actual ratings

# Replace 'predicted_ratings_euclidean' and 'predicted_ratings_rfe' with your actual predicted ratings
predicted_ratings_euclidean = np.array([4.2, 3.9, 2.3, 3.8, 1.5, 2.9])  # Replace with actual predicted ratings for Euclidean Similarity
predicted_ratings_rfe = np.array([4.1, 3.7, 2.4, 3.9, 1.6, 3.1])  # Replace with actual predicted ratings for RFE features

# Calculate RMSE for Euclidean Similarity
distances = euclidean_distances(actual_ratings.reshape(1, -1), predicted_ratings_euclidean.reshape(1, -1))
rmse_euclidean = sqrt(np.mean(np.square(distances)))
print("RMSE (Euclidean Similarity):", rmse_euclidean)

# Create a linear regression model for RFE features
model_rfe = LinearRegression()
# Assuming 'rfe_features' is the RFE-selected features matrix
# Replace 'rfe_features' with your actual RFE-selected features
rfe_features = np.array([[1, 2, 3, 4, 5], [2, 3, 4, 5, 6], [3, 4, 5, 6, 7], [4, 5, 6, 7, 8], [5, 6, 7, 8, 9], [6, 7, 8, 9, 10]])
model_rfe.fit(rfe_features, actual_ratings)

# Make predictions on RFE features
predicted_ratings_rfe = model_rfe.predict(rfe_features)

# Calculate RMSE for RFE features
rmse_rfe = sqrt(mean_squared_error(actual_ratings, predicted_ratings_rfe))
print("RMSE (RFE Features):", rmse_rfe)
import matplotlib.pyplot as plt

# Replace these values with your actual RMSE values
rmse_values = [rmse_cosine,  rmse_euclidean, rmse_corr, rmse_rfe]
models = ['Cosine Similarity', 'Euclidean Similarity','Correlation Features', 'RFE Features']

# # Plotting
# plt.bar(models, rmse_values, color=['blue', 'green', 'red', 'purple'])
# plt.xlabel('Models')
# plt.ylabel('RMSE Values')
# plt.title('Comparison of RMSE Values for Different Models')
# plt.ylim(0, max(rmse_values) + 0.1)  # Adjust ylim for better visualization
# plt.show()
fig, ax = plt.subplots()
ax.bar(models, rmse_values, color=['blue', 'green', 'red', 'purple'])

# Adjust x-axis labels and increase the space between them
ax.set_xticks(models)
ax.set_xticklabels(models, rotation=45, ha='right')  # Rotate labels for better readability
plt.subplots_adjust(bottom=0.2)  # Adjust the bottom margin to make room for rotated labels

plt.xlabel('Models')
plt.ylabel('RMSE Values')
plt.title('Comparison of RMSE Values for Different Models')
plt.ylim(0, max(rmse_values) + 0.1)  # Adjust ylim for better visualization
plt.show()

In [ ]:
# Calculate combined accuracy for (Cosine Similarity + Correlation Features) and (Euclidean Similarity + RFE Features)
accuracy_combined_cos_corr = 1 / ((1 / rmse_values['Cosine Similarity']) + (1 / rmse_values['Correlation Features']))
accuracy_combined_euc_rfe = 1 / ((1 / rmse_values['Euclidean Similarity']) + (1 / rmse_values['RFE Features']))

# Convert combined accuracy to percentage
accuracy_combined_cos_corr_percentage = (1 - accuracy_combined_cos_corr) * 100  # Reverse the accuracy
accuracy_combined_euc_rfe_percentage = (1 - accuracy_combined_euc_rfe) * 100  # Reverse the accuracy

print(f"Combined Accuracy (out of 100) for (Cosine Similarity + Correlation Features): {accuracy_combined_cos_corr_percentage:.2f}%")
print(f"Combined Accuracy (out of 100) for (Euclidean Similarity + RFE Features): {accuracy_combined_euc_rfe_percentage:.2f}%")

In [ ]:
import matplotlib.pyplot as plt

# Replace these values with your actual accuracy percentages
accuracy_combined_cos_corr_percentage = 9.57
accuracy_combined_euc_rfe_percentage = 29.11

# Reverse the accuracy percentages
accuracy_combined_cos_corr_percentage_reverse = 100 - accuracy_combined_cos_corr_percentage
accuracy_combined_euc_rfe_percentage_reverse = 100 - accuracy_combined_euc_rfe_percentage

# Plotting the bar chart with added distance between x-axis labels
models = ['Cosine Similarity + Correlation Features', 'Euclidean Similarity + RFE Features']
accuracy_values = [accuracy_combined_cos_corr_percentage_reverse, accuracy_combined_euc_rfe_percentage_reverse]

bar_width = 0.7 # Adjust the width based on your preference

plt.bar(models, accuracy_values, width=bar_width, color=['blue', 'green'])
plt.xlabel('Model Combinations')
plt.ylabel('Accuracy (out of 100)')
plt.title('Combined Accuracy Comparison (Higher Percent, Higher Accuracy)')
plt.xticks(models, rotation=45, ha='right')  # Rotate x-axis labels for better readability
plt.ylim(0, 100)  # Set y-axis limits for better visualization
plt.show()

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

# Assuming your dataset is stored in a DataFrame named 'df'
# Make sure to replace 'your_dataset.csv' with the actual file path if reading from a CSV file
# df = pd.read_csv('your_dataset.csv')

# Extract relevant columns
data = zomato[['name', 'rate']]

# Drop rows with missing values in the 'rate' column
data = data.dropna(subset=['rate'])

# Encode restaurant names using LabelEncoder
le = LabelEncoder()
data['name_encoded'] = le.fit_transform(data['name']).astype(str)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(data[['name_encoded']], data['rate'], test_size=0.2, random_state=42)

# Create a TF-IDF vectorizer for restaurant names
vectorizer = TfidfVectorizer()
X_train_tfidf = vectorizer.fit_transform(X_train['name_encoded'])
X_test_tfidf = vectorizer.transform(X_test['name_encoded'])

# Train a linear regression model
model = LinearRegression()
model.fit(X_train_tfidf, y_train)

# Make predictions on the test set
predictions = model.predict(X_test_tfidf)

# Evaluate the model
mse = mean_squared_error(y_test, predictions)
print(f'Mean Squared Error: {mse}')

# Now you can use the trained model to predict ratings for new restaurant names
new_restaurant_names = ["San Churro Cafe", "Cafe Mondo"]
new_restaurant_names_encoded = le.transform(new_restaurant_names).astype(str)
new_restaurant_names_tfidf = vectorizer.transform(new_restaurant_names_encoded)
new_ratings = model.predict(new_restaurant_names_tfidf)

print("Predicted Ratings for New Restaurants:")
for restaurant, rating in zip(new_restaurant_names, new_ratings):
    print(f"{restaurant}: {rating}")

In [ ]:
zomato.head()

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

# Assuming your dataset is stored in a DataFrame named 'zomato'
# Make sure to replace 'your_dataset.csv' with the actual file path if reading from a CSV file
# zomato = pd.read_csv('your_dataset.csv')

# Extract relevant columns
data = zomato[['name', 'rate']]

# Drop rows with missing values in the 'rate' column
data = data.dropna(subset=['rate'])

# Encode restaurant names using LabelEncoder
le = LabelEncoder()
data['name_encoded'] = le.fit_transform(data['name']).astype(str)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(data[['name_encoded']], data['rate'], test_size=0.2, random_state=42)

# Create a TF-IDF vectorizer for restaurant names
vectorizer = TfidfVectorizer()
X_train_tfidf = vectorizer.fit_transform(X_train['name_encoded'])
X_test_tfidf = vectorizer.transform(X_test['name_encoded'])

# Train a linear regression model
model = LinearRegression()
model.fit(X_train_tfidf, y_train)

def predict_rating_for_restaurant(restaurant_name):
    # Encode the input restaurant name
    restaurant_name_encoded = le.transform([restaurant_name]).astype(str)

    # Transform using the TF-IDF vectorizer
    restaurant_name_tfidf = vectorizer.transform(restaurant_name_encoded)

    # Predict the rating
    rating_prediction = model.predict(restaurant_name_tfidf)

    return rating_prediction[0]

In [ ]:

# Example usage
restaurant_name_input = "San Churro Cafe"
predicted_rating = predict_rating_for_restaurant(restaurant_name_input)
print(f"Predicted Rating for {restaurant_name_input}: {predicted_rating}")